:root {
    --dark-grey: #4d4d4d;
    --cream: #FFE9DC;
    --brown: #A64826;
    --orange: #cd7a11;
}

html {
    font-size: 100%;
    /*16px*/
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: var(--cream);
    margin: 1em 0;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

a,
a:hover {
    text-decoration: none;
}


header {
    text-align: center;
}

img.main-logo {
    width: 60px;
}

.menu-links {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-links a {
    text-decoration: none;
    color: var(--dark-grey);
    font-weight: bold;
    font-size: 1.1rem;
}

.home-section, .about-section {
    margin: 5em 5em 4em 5em;
}

.brief-info {
    max-width: 850px;
}

.brief-info h1,
.projects h3 {
    margin-bottom: .7em;
    color: var(--brown);
    letter-spacing: -1px;
}

.brief-info p {
    font-size: 1.2em;
}

.thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em 5em;
}

.thumbnails a {
    display: inline-block;
}

.thumbnails div {
    position: relative;
    overflow: hidden;
}

.thumbnails img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    width: 100%;
}

.thumbnails img:hover {
   	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.thumbnails p {
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 1.2em;
}

/* ABOUT PAGE */
h3.our-belief,
h3.reach-out {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
    color: var(--brown);
}

.about-desc-1 {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    font-size: 1.2em;
}

.about-desc-1>div,
.about-desc-2>div {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em 0;
}

.about-desc-1 img {
    width: 100%;
}

.about-desc-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.2em;
}

.services h4 {
    text-align: center;
    color: var(--dark-grey);
    margin: 2em 0;
}

.services>div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.icons p {
    font-weight: 600;
    color: var(--dark-grey);
}

/* CASE STUDY PAGE */
.project-header {
    position: relative;
    text-align: center;
    margin: 4em 2em 2em;
}

.project-header img {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
    transition: .3s ease-in-out;
}

.project-header:hover img{
    filter: brightness(.5);
}

.project-header h1 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
}

.project-leads {
    display: flex;
    margin: 0 2em;
    justify-content: space-between;
}

.project-leads>div {
    margin-right: 2em;
}

.project-leads p {
    font-weight: bold;
}

.project-leads>div>p:first-child {
    margin-bottom: 0.5em;
}

.project-leads>div p:last-child {
    color: var(--orange);
    margin-top: 0;
}

.project-leads>div a {
    display: inline;
    color: var(--orange);
    font-weight: bold;
    border-bottom: 3px solid;
    line-height: 1.5;
}

.project-brief,
.project-approach,
.graphic-services {
    max-width: 900px;
    margin: 2em;
}

.project-brief h3::after,
.project-approach h3::after,
.graphic-services h3::after {
    content: "";
    display: block;
    width: 70px;
    padding-top: 5px;
    border-bottom: 3px solid #000;
}

.project-brief p,
.project-approach p,
.graphic-services p {
    color: var(--brown);
    font-weight: 500;
}

.site-screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.site-screenshots img {
    width: 100%;
    object-fit: contain;
    margin: 2em 0;
}

.mobile-mockups {
    text-align: center;
    margin: 5em auto;
    max-width: 800px;
}

.mobile-mockups img {
    width: 100%;
    object-fit: contain;
}

a.behance-link {
    color: var(--orange);
    border-bottom: 3px solid;
}

.ffa-graphics {
    margin: 2em 2em 4em;
}

.ffa-graphics .grid-sizer, .ffa-graphics .grid-item {
    width: 31%;
}

.grid-item{
    margin-bottom: 10px;
}

.ffa-graphics img{
    display: block;
    width: 100%;
}

/* CONTACT PAGE */
p.collab-call {
    text-align: center;
    margin-top: -2em;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--dark-grey);
}

.contact-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 3em;
    align-items: center;
}

.contact-block>img {
    place-self: center;
    max-width: 100%;
}

.contact-block>div img {
    float: left;
}

.contact-details>div {
    margin: 3em 0;
}

.contact-details p {
    margin: 0.5em 1em;
    display: inline-block;
    font-weight: bold;
    color: #a64826;
    font-size: 1.1em;
}

.contact-block>div a {
    display: inline-block;
    margin: 0 1.3em;
    text-decoration: none;
    color: var(--brown);
    font-weight: 600;
    font-size: 1.1em;
    border-bottom: 2px solid #C97D61;
    padding-bottom: 0.3em;
}

/* FOOTER */
.main-separator {
    width: 65%;
    margin: 3em auto;
    height: 1px;
    background-color: var(--brown);
}

.help {
    margin-bottom: 2em;
}

.help a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--brown);
    background-color: #fff;
    width: 170px;
    padding: 14px 0;
    margin: 0 auto;
    font-weight: 600;
}

.help h5 {
    text-align: center;
    color: var(--dark-grey);
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .home-section, .about-section {
        margin: 5em 2em 4em 2em;
    }

    .thumbnails{
        gap: 2em 2em;
    }

    .about-desc-1>div,
    .about-desc-2>div {
        max-width: 100%;
    }

    .contact-block {
        justify-items: center;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .home-section, .about-section {
        margin: 3em 1em 3em 1em;
    }
    
    .thumbnails{
        grid-template-columns: 1fr;
        gap: 2em 2em;
    }

    .project-leads{
        overflow: scroll;
    }

    .project-leads>div {
        margin-right: 2em;
    }

    .project-leads>div>p:first-child {
        height: 3em;
    }
  }